table {
    color:darkslategrey;
}
td {
    text-align: left;
    font-family: Arial, sans-serif;
}

.addressRow {
    padding-left:10px;
}

.boldCompanyName {
    font-weight: 800;
}

.resultsHeader {
    margin-top:10px;
    font-size: larger;
    color: darkgreen;
}